<div class="restaurapp">
    <div class="instrucciones">
        <h2>Restaurapp</h2>
        <p>Una aplicación FrontEnd desarrollada con HTML, CSS y JavaScript que permite tomar comandas haciendo uso de LocalStorage.<br>
         Se pueden modificar los datos de inicio de sesión de hasta 4 camareros y del menú (añadir nuevos artículos, modificar el nombre, precio y categoría)</p>
        <h4>Instrucciones de uso:</h4>
        <ol>
            <li>Inicia sesión: Usuario "camarero1" y Contraseña "1234".</li>
            <li>Pulsa en el número para cambiar el estado de la mesa a "abierto".</li>
            <li>Pulsa en el número de la mesa para acceder al menú.</li>
            <li>Despliega las categorias y añade artículos a la comanda con las teclas + y -.</li>
            <li>Pulsa el boton añadir comanda para guardar los cambios.</li>
            <li>Puedes volver al dashboard de las mesas pulsando "Volver".</li>
            <li>Puedes generar el tícket pulsa "Generar cuenta".</li>
            <li>Puedes visualizar el tícket en el dashboard y acceder al pago. (TPV ficticio con validaciones)</li>
            <li>Accede al área de administrador con Usuario "admin" y contraseña "nimda".</li>
            <li>Modifica los datos de inicio de sesión o del menú.</li>
        </ol>
    </div>
    <iframe src="https://storage.googleapis.com/restaurapp/restaurapp/login.html" frameborder="0" width="375" height="667"></iframe>

</div>